{% extends "osnova.html" %}

{% block vsebina %}

<body style="background-color:powderblue;">
<h1 style="color:blue;"><b>FAKEBOOK</b></h1>
<hr color="#0000ff" size="5"/>

<img src="/static/Smeh.png" width="150" height="150">
<h2 style="color:goldenrod;" >Damjan <i>DAMJAN</i></h2>
<br>
<hr color="#0000ff" size="1"/>

<p><font size="4"><pre class="tab" ><strong>KRAJ:</strong> Tukaj <strong>             LETA:</strong> Enmau</pre></font></p>
<p><font size="4"><pre class="tab"><strong>IZOBRAZBA:</strong> Huda<strong>          HOBI:</strong> Palčke bobi</pre></font></p>

<br>

<p><strong>ZANIMIVE STRANI</strong></p>
<p>
    <a href="https://www.postojnska-jama.eu/sl/" target="_blank">Postojnska jama</a>
</p>
<p>
    <a href="https://www.tnp.si/sl/spoznajte/" target="_blank">Triglavski narodni park</a>
</p>
<p>
    <a href="https://www.rtc-krvavec.si/si/" target="_blank">Smučišče Krvavec</a>
</p>
<p>
    <a href="https://www.lonelyplanet.com/canary-islands" target="_blank">Morje</a>
</p>

<br>    <br>    <br>    <br>    <br>

<footer>
    <p>Kontakt: <a href="mailto:damjan.DAMJAN@fakebook.com">damjan.DAMJAN@fakebook.com</a></p>
</footer>

{% endblock %}